body {
    width: 100vw;
    height: 100px;
}

.header {
    width: 100vw;
    height: 100px;
    background-color: white;
    border: 5px solid #000000;
    display: flex;
}

.pixel {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 5px solid #000000;
    flex: 1;

}